
<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.0/dist/echarts.min.js"></script>
  </head>
  <body>
 </script>
 <div id="main2" style="width: 1300px;height:600px;"></div>
 <script type="text/javascript">
     var myChart2 = echarts.init(document.getElementById('main2'));
     var option = {
         title: {
             text: "All Cities",
             left: 'center'
         },
         grid: {
             left: '3%',
             right: '7%',
             bottom: '7%',
             containLabel: true
         },
         legend: {
                orient: 'vertical',
                left: 100,
                top: 50
        },
         tooltip: {
             order: 'valueDesc',
             trigger: 'axis'  
         },
         dataZoom: [
            {
                startValue: 2004
            },
            {
                type: 'inside'
            }
        ],
         xAxis: {
             type: 'category',
             data: {{ datetime|safe }}

         },
         yAxis: {
             type: 'value'
         },
         
         emphasis: {
            focus: 'series'
         },
         series: {{ dataArray|safe }}
     };
     myChart2.setOption(option);
 </script>
</body>
</html>

<a href="{% url 'initial'%}">Choose a new grouping?</a>


