<html>
    <script language = 'javascript'>
        function SelectRedirect()
        {
            switch(document.getElementById('choice').value)
            {
                case "Hourly":
                window.location="hour/";
                break;
                case "Daily":
                window.location="day/";
                break;
                case "Monthly": 
                window.location="month/";
                break;
                case "All": 
                window.location="all/";
                break;     
            }
        }
    </script>

<form >
    <fieldset>
        <legend><h1>Analyzing PM2.5 Levels By City</h1></legend>
        
        <label for="question">How would you like the data grouped?</label><br>
        <select id="choice", name="choice" onChange="SelectRedirect();">
            <option value="">Select choice</option>
            <option value ="Hourly">Hourly</option>
            <option value ="Daily">Daily</option>
            <option value ="Monthly">Monthly</option>
            <option value ="All">All Cities</option>
        </select>
    
    </fieldset>
    <input type="submit" value="Submit">
</form>
</html>