<form action="{% url 'results'%}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        
        <label for="question">{{ question.question_text }}</label><br>
        <select name= "choice" id= "question">
            {% for choice in question.choice_set.all %}
            <option value =" {{ choice.id }}">{{ choice.choice_text }}</option>
            {% endfor %}
        </select>

    </fieldset>
    <input type="submit" value="Submit">
</form>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
     integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
     crossorigin=""/>

     <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
     integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
     crossorigin=""></script>

     <div id="map"></div>
     